
@{
    ViewData["Title"] = "Home";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Applications &amp; Websites to fit your needs</h1>
                <div class="row center bottom">
                    <a href="home/contact/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get A Free Consultation</a>
                </div>
                <br><br>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Get something to the consumer, then iterate</h5>

                        <p class="light">Our goal is to identify with you an application our website that will fit your consumers needs. Then additional features that you would like to add down the road.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light">All succesful businesses revolve around the customer and your application should be no different. With industry experience we know what your users do and do not want.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text"><i class="material-icons">trending_up</i></h2>
                        <h5 class="center">Grow your customers</h5>

                        <p class="light">SEO is all the rage right now. But being at the top of search results has added benefits. Hubspot.com says, "60% of all organic clicks go to the organic top 3 search results." </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
